@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

thead {
    font-size: 1.8rem;
}

td {
    font-size: 1.6rem;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 10px;
}

tbody tr {
    background-color: aqua;
}

.dataShown {
    transition: all 0.3s;
}

.dataShown:hover {
    background-color: rgb(95, 95, 255);
    color: white;
}

.btn {
    font-size: 1.5rem;
    background-color: rgb(74, 74, 74);
    padding: 5px 10px;
}